@import url('https://fonts.googleapis.com/css?family=Cantata+One');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.star {
  position: absolute;
  background-image: url('../img/star.svg');
  width: 15px;
  height: 15px;
}
.layer-1 {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  transition: .3s;
}
.layer-1 .star {
  transform: scale(0.25);
}
.layer-1 .star-1 {
  top: 10%;
  left: 5%;
}
.layer-1 .star-2 {
  top: 8%;
  left: 83%;
}
.layer-1 .star-3 {
  top: 14%;
  left: 35%;
}
.layer-1 .star-4 {
  top: 20%;
  left: 78%;
}
.layer-1 .star-4 {
  top: 42%;
  left: 91%;
}
.layer-1 .star-5 {
  top: 75%;
  left: 77%;
}
.layer-1 .star-6 {
  top: 90%;
  left: 46%;
}
.layer-1 .star-7 {
  top: 71%;
  left: 26%;
}
.layer-1 .star-6 {
  top: 90%;
  left: 46%;
}
.layer-2 {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 110vh;
  z-index: 102;
  transition: .3s;
}
.layer-2 .star {
  transform: scale(0.5);
}
.layer-2 .star-1 {
  top: 23%;
  left: 22%;
}
.layer-2 .star-2 {
  top: 86%;
  left: 16%;
}
.layer-2 .star-3 {
  top: 16%;
  left: 38%;
}
.layer-2 .star-4 {
  top: 22%;
  left: 69%;
}
.layer-2 .star-4 {
  top: 33%;
  left: 86%;
}
.layer-2 .star-5 {
  top: 75%;
  left: 71%;
}
.layer-3 {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 120vh;
  z-index: 103;
  transition: .3s;
}
.layer-3 .star {
  transform: scale(0.7);
}
.layer-3 .star-1 {
  top: 23%;
  left: 13%;
}
.layer-3 .star-2 {
  top: 86%;
  left: 19%;
}
.layer-3 .star-3 {
  top: 16%;
  left: 45%;
}
.layer-3 .star-4 {
  top: 22%;
  left: 69%;
}
.layer-3 .star-4 {
  top: 33%;
  left: 81%;
}
.layer-3 .star-5 {
  top: 75%;
  left: 72%;
}
.layer-6 {
  opacity: 0;
  position: absolute;
  background-image: url('../img/bluegradient.png');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  transition: .3s;
  z-index: 106;
}
section {
  z-index: 200;
}
body {
  background-color: #110022;
}
body.state0 {
  background-color: #110022;
}
body.state0 #home {
  top: 0vh;
}
body.state0 #portfolio {
  top: 100vh;
}
body.state0 #contact {
  top: 100vh;
}
body.state0 .layer-1 {
  transform: translate(0, -0.5%);
}
body.state0 .layer-2 {
  transform: translate(0, -1%);
}
body.state0 .layer-3 {
  transform: translate(0, -2%);
}
body.state0 .layer-4 {
  transform: translate(0, -25%);
}
body.state0 .layer-5 {
  transform: translate(0, -15%);
}
body.state1 {
  background-color: #130226;
}
body.state1 #home {
  top: -100vh;
}
body.state1 #portfolio {
  top: 0vh;
}
body.state1 #contact {
  top: 100vh;
}
body.state1 .layer-1 {
  opacity: 0.75;
  transform: translate(0, -1%);
}
body.state1 .layer-2 {
  opacity: 0.75;
  transform: translate(0, -2%);
}
body.state1 .layer-3 {
  opacity: 0.75;
  transform: translate(0, -4%);
}
body.state1 .layer-4 {
  transform: translate(0, -50%);
}
body.state1 .layer-5 {
  transform: translate(0, -30%);
}
body.state2 {
  background-color: #19062e;
}
body.state2 #home {
  top: -100vh;
}
body.state2 #portfolio {
  top: -100vh;
}
body.state2 #contact {
  top: 0vh;
}
body.state2 .layer-1 {
  opacity: 0.50;
  transform: translate(0, -1.5%);
}
body.state2 .layer-2 {
  opacity: 0.50;
  transform: translate(0, -3%);
}
body.state2 .layer-3 {
  opacity: 0.50;
  transform: translate(0, -6%);
}
body.state2 .layer-4 {
  transform: translate(0, -75%);
}
body.state2 .layer-5 {
  transform: translate(0, -45%);
}
body.state2 .layer-6 {
  opacity: .5;
}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  overflow: hidden;
  font-family: 'Helvetica LT Std', sans-serif;
  transition: filter .3s;
}
body {
  transition: background-color 0.3s;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  outline: none;
}
.totalcenter {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
}
section {
  position: fixed;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  transition: .3s;
}
section .container {
  position: relative;
  height: 100%;
}
.layer-4 {
  position: absolute;
  top: 80%;
  background-image: url('../img/adorno-1.svg');
  width: 150px;
  height: 300px;
  z-index: 104;
  transition: .3s;
}
.layer-5 {
  position: absolute;
  top: 35%;
  right: 0px;
  background-image: url('../img/adorno-2.svg');
  width: 150px;
  height: 300px;
  z-index: 105;
  transition: .3s;
}
nav.navbar {
  background-color: rgba(17, 0, 34, 0.8);
  user-select: none;
  position: fixed;
  width: 100%;
  height: 76px;
  padding: 16px 0px;
  box-shadow: 0px 0px 0px 0px #ffffff;
  z-index: 9999;
}
nav.navbar .menu-btn {
  margin: 8px;
  width: 36px;
  height: 36px;
  float: right;
  background: transparent;
  padding: 0px;
  border: none;
}
nav.navbar .brand {
  display: inline-block;
  padding: 0px 0px;
}
nav.navbar .nb-nav {
  height: 32px;
  width: auto;
  float: right;
}
nav.navbar .nb-nav .nav-list {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
nav.navbar .nb-nav .nav-list li {
  display: inline-block;
  padding: 12px 12px;
}
nav.navbar .nb-nav .nav-list li a {
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  line-height: 14px;
  padding: 5px 12px;
}
nav.navbar .nb-nav .nav-list li a:after {
  position: absolute;
  content: '';
  display: block;
  border-radius: .2em;
  left: 12px;
  right: 12px;
  width: auto;
  height: 0.15em;
  background: #ffffff;
  opacity: 0;
  transition: opacity .2s, bottom .2s;
  bottom: -0.4em;
}
nav.navbar .nb-nav .nav-list li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav.navbar .nb-nav .nav-list li a:hover:after {
  bottom: -0.2em;
  opacity: 1;
}
nav.navbar .nav-objective {
  display: inline;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: auto;
}
nav.navbar .nav-objective li {
  text-decoration: none;
  display: inline-block;
  padding: 14px 24px;
  vertical-align: bottom;
}
nav.navbar .nav-objective li a {
  vertical-align: middle;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  outline: none;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.65);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 1000px;
  padding: 10px 16px;
  transition: border 0.3s, box-shadow 0.3s, color 0.3s;
  cursor: pointer;
}
nav.navbar .nav-objective li a:hover {
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.15);
}
.greetings {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 16;
  right: 16;
  transform: translate(0%, -50%);
}
.greetings .whisper {
  display: block;
  font-size: 21px;
  line-height: 32px;
}
.greetings .shout {
  display: block;
  width: 50%;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
}
.greetings .saber-mas-btn {
  vertical-align: middle;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  outline: none;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 1000px;
  margin-top: 16px;
  padding: 10px 16px;
  transition: border 0.3s, box-shadow 0.3s, color 0.3s;
  cursor: pointer;
}
.greetings .saber-mas-btn:hover {
  color: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.15);
}
.greetings .descargar-cv-btn {
  vertical-align: middle;
  margin-left: 8px;
  user-select: none;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 0px 1px rgba(54, 28, 92, 0.75);
  color: rgba(54, 28, 92, 0.75);
  border-radius: 1000px;
  margin-top: 32px;
  padding: 10px 16px;
  transition: box-shadow 0.3s, color 0.3s;
  cursor: pointer;
}
.greetings .descargar-cv-btn i.material-icons {
  margin-top: -2px;
  margin-right: 8px;
  vertical-align: middle;
  width: 24px;
  height: 14px;
  font-size: 24px;
  line-height: 14px;
}
.greetings .descargar-cv-btn:hover {
  color: #361c5c;
  box-shadow: inset 0px 0px 0px 1px #361c5c;
}
#contact .contact-us {
  height: 70vh;
  position: relative;
}
#contact .contact-us a.contacto {
  display: inline;
  position: relative;
  color: #fb9733;
}
#contact .contact-us a.contacto:after {
  position: absolute;
  content: '';
  display: block;
  border-radius: .2em;
  left: 0px;
  right: 0px;
  width: auto;
  height: 0.15em;
  background: #fb9733;
  opacity: 0;
  transition: opacity .2s, bottom .2s;
  bottom: -0.4em;
}
#contact .contact-us a.contacto:hover {
  color: #fb9733;
  text-decoration: none;
}
#contact .contact-us a.contacto:hover:after {
  bottom: -0.2em;
  opacity: 1;
}
#contact .contact-us .c-greetings {
  height: 70vh;
}
#contact .contact-us .c-shout {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
#contact .continue {
  outline: none;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  color: #361c5c;
  width: 64px;
  height: 64px;
  padding: 0px;
  text-align: center;
  animation-name: scroll-down-icon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes scroll-down-icon {
  0%,
  100% {
    transform: translate(-50%, -100%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
}
#contact .continue i.material-icons {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 24px;
}
.rocket {
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  bottom: 30vh;
  width: 80px;
  height: 125px;
  z-index: 250;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../img/rocket.svg');
}
.footer {
  bottom: 0px;
  background-color: #361c5c;
  color: #ffffff;
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: 200;
  -webkit-clip-path: ellipse(100% 100% at 50% 100%);
  clip-path: ellipse(100% 100% at 50% 100%);
}
.footer .content {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}
.footer .content .footer-nav {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer .content .crights {
  display: block;
  width: 100%;
  font-size: 12px;
  padding: 16px 0px 30px;
  text-align: right;
  color: rgba(255, 255, 255, 0.45);
}
.footer .content .crights.center {
  text-align: center;
}
.footer .content .social-media-nav {
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style: none;
}
.footer .content .social-media-nav li {
  display: inline-block;
}
.footer .content .social-media-nav li a {
  color: #ffffff;
  display: block;
  margin: 16px;
  height: 32px;
  width: 32px;
  font-size: 24px;
  background-size: 100%;
  filter: invert(1);
  animation-name: not-exited;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}
.footer .content .social-media-nav li a img {
  filter: box-shadow(inset 0px 0px 0px 200px #ffffff);
}
.footer .content .social-media-nav li a:hover {
  text-decoration: none;
  animation-name: exited;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}
@keyframes not-exited {
  0% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes exited {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.4);
  }
}
.footer .content .social-media-nav li a.twitter-icon {
  background-image: url('../img/icons/twitter-icon.svg');
}
.footer .content .social-media-nav li a.facebook-icon {
  background-image: url('../img/icons/facebook-icon.svg');
}
.footer .content .social-media-nav li a.instagram-icon {
  background-image: url('../img/icons/instagram-icon.svg');
}
.footer .content .social-media-nav li a.linkedin-icon {
  background-image: url('../img/icons/linkedin-icon.svg');
}
.footer .content .social-media-nav li a.youtube-icon {
  background-image: url('../img/icons/youtube-icon.svg');
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  nav.navbar .nb-nav .nav-list {
    left: -100vw;
    display: block;
    position: absolute;
    top: 0px;
    background: red;
    z-index: -1;
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
  }
  nav.navbar .nb-nav .nav-list li {
    display: block;
  }
  nav.navbar .nb-nav .nav-list.active {
    left: 0px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  nav.navbar .nav-objective li {
    position: fixed;
    width: 10vh;
    height: 10vh;
    display: block;
    padding: 24px;
    bottom: 16px;
    right: 16px;
    overflow: hidden;
    background: #361c5c;
  }
  nav.navbar .nav-objective li a {
    padding: 0px;
  }
}
/* Custom, iPhone Retina */
